/* CSS declarations go here */

/* overwrite bootstrap */

.navbar-default, .footer {
  background-color: rgb(204, 204, 204);
  background-color: rgba(204, 204, 204, 0.8);
}

.navbar-default .navbar-brand {
  margin-top: 7px;
  font-family: 'Megrim', cursive;
  font-size: 25px;
  color: #17014f;
}

.label {
  color: #000;
  font-size: 90%;
  padding: 0;
}

/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #3c1b90 url('');
}*/

.navbar-header {
  width: 100%;
}

.navbar-text {
  width: 50%;
}

body {
  font-family: sans-serif;
  background-image: url('/ignasi_pattern_s.png');
  padding: 0 0 70px 0;
  margin: 0;
  font-size: 14px;
}

.container-body {
  max-width: 800px;
  margin: 70px auto 0;
  min-height: 100%;
  width: 100%;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.pink {
  color: #9380c1;
  /*#674da8;*/
  /*#270284;*/
  /*#e14169;*/
}

.gap-large {
  padding-top: 60px;
}

.gap-medium {
  padding-top: 40px;
}

.gap-small {
  padding-top: 20px;
}

.sequencer {
  height: 30px;
  padding-top: 20px;
  color: #1f0169;;
}

.sequencer-display {
  height: 17px;
}

.slider {
  /*margin-top: 15px;*/
  /*height: 200px;*/
}

/* footer */

.footer {
/*  position: absolute;
*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(204, 204, 204);
  background-color: rgba(204, 204, 204, 0.8);
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

@media (min-width: 601px) {
  .container {
    width: 80%;
  }

  .container-body {
    margin: 50px auto 0;
  }

  #slider1 {
    margin-left: 75px;
  }

}