<template name="about">
    <div class="container">
        <div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><h3>Specs of this site</h3></div>
			</div>
			<div class="panel-body">
				<h4>This site has the following specifications:</h4>
				<ul>
				    <li>Users can register and login.</li>
				    <li>Users can post new websites if they are logged in.</li>
				    <li>User have to be logged in to post new websites</li>
				    <li>User can't post Websites without an URL and a description.</li>
				    <li>Users can up and down vote webpages</li>
				    <li>User have to be logged in in order to vote.</li>
				    <li>Websites are be listed with the most up voted site first</li>
				    <li>The listing page shows when the website was added and how many up and down votes it has</li>
				    <li>Users can move to a detail page for a website (using routing)</li>
				    <li>On the detail page, users can post comments about a webpage, and they are displayed below the description of the webpage</li>
				    <li>Users can delete their own posts and their own comments.</li>
				    <li>When posting new website, Automatic information is retrieved just by writing the URL</li>
				    <li>A search function was implemented that allows the user to search within the listed sites for key words</li>
				</ul>
			</div> 
	    </div>        
    </div>
</template>