<template name="website_details">
    <div class="container">
        <div class="panel panel-default">
			<div class="panel-heading">
				<button type="button" class="close js-delete-website"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<div class="panel-title"><h4><a href="{{url}}" title="Follow to">{{title}}</a></h4></div>
			</div>
			<div class="panel-body" title="Click to see details.">
				<div class="row">
					<div class="col-xs-1">
						<img class="media-object icon" src="{{getLogo url}}">
					</div>
					<div class="col-xs-11">
						<h3>{{title}}</h3>
						<h5>{{description}}</h5>
						{{#if getDate}}
							<p>Added in: {{getDate}} by {{getAuthor createdBy}}</p>
						{{/if}}
						<a href="#" id="upvote-{{_id}}" tabindex="0" class="btn btn-primary js-upvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><span class="votesText">{{totalUpvotes}}</span>
						</a>
						<a href="#" id="downvote-{{_id}}" tabindex="0" class="btn btn-warning js-downvote" role="button" data-toggle="popover" data-trigger="focus" data-content="In order to vote you must be a registered user">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><span class="votesText">{{totalDownvotes}}</span>
						</a>
					</div>
				</div>
			</div> 
	    </div>
		<div class="alert alert-warning collapse" role="alert" id="notLoggedIn">
		  <span>
		  <p>Must login to add comments!</p>
		  </span>
		</div>
	    <div class="panel panel-default">
	    	<div class="panel-body">
				<form class="js-save-comment">
					<div class="form-group">
				    	<input type="text" class="form-control" id="input_comment" placeholder="Add a comment">
				  	</div>
				  	<button type="submit" class="btn btn-default hide" id="btn-submit">Submit</button>
				</form>
			</div>
		</div>
		{{#each comments}}
			{{>comments_list}}
		{{/each}}
    </div>
</template>

		    	